.root {
    padding: 32px;
}

.grid {
    display: grid;

    grid-template-columns: 4fr 1fr;
    grid-template-areas: "header type" "request request" "response response";
}

.header {
    grid-area: header;
    font-weight: bolder;
}

.response-type {
    grid-area: type;
}

.request {
    grid-area: request;
    background: aquamarine;

    grid-template-columns: 1fr;
}

.response {
    grid-area: response;
    grid-template-columns: 1fr;
}

.coded-field {
    border-radius: 4px;
    background: aliceblue;
    border: 1px solid gray;
    font-size: 20px;
    line-height: 1;
    padding: 10px 12px 10px 12px;
}

.primary-dropdown {
    width: 140px;
    margin-top: 20px;
    float: right;
}

.dropdown-btn {
    width: 100%;
}

.small-cf {
    height: 40px;
    margin-bottom: 12px;
}

.big-cf {
    min-height: 200px;
}

.caret-arrow {
    margin-left: 6px;
}

.bold {
    font-weight: bold;
}

.small-space {
    margin-right: 12px;
}

.small-font {
    font-size: 18px;
}

.bottom-space {
    margin-bottom: 8px;
}

.blue {
    color: cornflowerblue;
}

.red {
    color: crimson;
}

.gray {
    color: gray;
}

.break {
    display: flex;
    flex-wrap: wrap;
}
